*{
	margin:0%;
	
}
body{
	font-family: sans-serif;
}
.navbar a{
	text-decoration: none;
	color:black;
	margin-left:2%;

}
.navbar img{
	vertical-align: middle;
	margin-left: 10%;

}
#company-name{
	font-size: 1.5rem;
}
#company-name span{
	color: orange;
}
#company-name+a{
	color:orange;
	margin-left: 12%;
}

.sec2{
	background-color:rgba(239, 239, 239, 0.6);
	display: flex;
	padding: 5% 13%;
}
.shapes{
	width: 70%;
	position: relative;
}
.rectangle{
	background-color: rgba(0, 0, 0, 0.3);
	padding:20% 8%;
	width: 70%;
}

.small-circle{
	position: absolute;
	top: -8%;
	left: 65%;
	width: 6%;
	padding: 2.5% 2%;
	border-radius:50%;
	background-color: black;
	color: grey;
	text-align: center;
}
.large-circle{
	color: white;
	background-color: orange;
	width: 8%;
	border-radius: 50%;
	padding: 3% 3%;
	position: absolute;
	top: 10%;
	left: 70%;
	text-align: center;
}
.get{
	background-color: orange;
	color: white;
	text-align: center;
	border-radius: 25px;
	width: fit-content;
	cursor: pointer;
	margin-top: 8%;
	border:none;
	padding: 3% 5%;
}
.vps h1{
	margin-bottom: 4%;
}
.vps-list{
	font-size: 0.8rem;
	line-height: 1.8;
}
.domain{
	display: flex;
	background-color: black;
	color:white;
	
}

.search{
	margin-left: 12%;
	padding: 1% 3%;
}
.price{
	display: flex;
	margin-left: 15%;
}
.price p{
	padding-left: 30%;
	border: 1px solid grey;
	text-align: center;
}
.price span{
	color: grey;
}
.head{
	margin-left: 12%;
	margin-top: 1%;
	color: grey;
}
.head span{
	color: orange;
}
h2{
	margin-left: 12%;
	margin-top: 5%;
}

.sec3{
	display: flex;
	text-align: center;
	margin-left: 12%;
	margin-top: 4%;

}
.sec3 #size{
	font-size:2rem;
	color: black;

}

.basic1{
	line-height: 2;
	background-color:rgba(239, 239, 239, 0.6);
	padding:  1% 5%;
	color: grey;
	border-right: 1px solid lightgray;
	

}

.basic2{
	line-height: 2;
	background-color:rgba(239, 239, 239, 0.6);
	padding:1% 5%;
	color: grey;
	border-right: 1px solid lightgray;
	
}
.basic3{
	line-height: 2;
	background-color:orange;
	color: white;
	padding:1% 5%;
	border-right: 1px solid lightgray;
	

}
.basic3 #order{
	color: orange;
	background-color: white;
}

.basic4{
	line-height: 2;
	background-color:rgba(239, 239, 239, 0.6);
	padding:1% 5%;
	color: grey;
}
.sec3 button{
	background-color: orange;
	color: white;
	text-align: center;
	border-radius: 25px;
	width: fit-content;
	cursor: pointer;
	margin-top: 8%;
	border:none;
	padding: 3% 5%;
}
.features{
	background-color: rgba(239, 239, 239, 0.6);
	
}
.sec4{
	display: flex;
	margin-top: 2%;
	padding: 1%;
	
	
}
.sec4 img{
	
	vertical-align: middle;
}
.builder{
	padding: 3%;
	
	margin-left: 10%;
}
.builder img{
	vertical-align: middle;
}
.tools{
	padding: 3%;
	margin-right: 10%;
}
.square{
	background-color: rgba(0, 0, 0, 0.3);
	padding:5% 8%;
	width: 10%;
	margin-right: 4%;

}
.included{
	background-color:rgba(239, 239, 239, 0.6);
	padding: ;
}

.sec5	{
	display: flex;
	margin-top: 3%;
	background-color: white;
	margin-left: 12%;
	
}

.plans{
	font-size: 0.8rem;
	line-height: 2;
}
.sec5 #square{
	background-color: rgba(0, 0, 0, 0.3);
	padding:3% 8%;
	margin-left: 3%;
	
	
}
.online{
	font-size: 0.8rem;
	line-height: 2;
	margin-left: 2%;
}
.sec5 button{
	background-color: orange;
	color: white;
	text-align: center;
	border-radius: 25px;
	width: fit-content;
	cursor: pointer;
	margin-top: 8%;
	border:none;
	padding: 3% 5%;
}
.included{
	background-color:rgba(239, 239, 239, 0.6) ;
}
.sec6{
	display: flex;
	
	margin-top: 3%;

}
.hosting{
	
	padding: 0% 10%;
	text-align: center;
}
.hosting p{
	
}
.website{
	

	line-height: 2;
}
.website p{

	padding:8% 10%;
}
.servers{
	background-color: white;
	line-height: 2;
}
	
}
@media(min-width:1366px){
	#company-name+a{
		margin-left: 12%;
	}
	